<h3>Mechanic: <%= @mechanic.name %></h3>
<h3>Years of Experience: <%= @mechanic.experience %></h3>
<br>
<h3>Current rides they're working on:</h3>
<section id="open-rides">
	<% @mechanic.exciting_rides.each do |ride| %>
		
				<p><%= ride.name %></p>
				<p><%= ride.thrills %></p>

	<% end %>
</section>


<%= form_with url:  "/mechanics/#{@mechanic.id}", method: :patch , local: true do |form|  %>
<%= form.label :ride_id, "Ride ID:" %>
<%= form.text_field :ride_id %>
<%= form.submit "Submit" %>
<% end %>




<% if false %>
<!-- only way I could find to comment out code blocks -->
<!-- Almost had the form model figured out, just got stuck on the routes part -->

<%= form_with model: @mechanic, url: mechanics_path(@mechanic), method: :patch do |form| %>
	<%= form.label :ride_id  %>
	<%= form.text_field :ride_id %>
	<%= form.submit "Submit" %>
<% end %>


<% end %>